<%= bootstrap_form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title %>
  <%= f.text_field :url, :value => params[:url] || @bookmark.url %>
  <%= f.text_field :tag_list %>
  <%= f.text_area :notes %>
  <%= f.check_box :private %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
