<div id="bookmarks-header">
  <h2><%= @user.nickname %>'s Bookmarks</h2>
  <%= link_to 'Export', '/bookmarks_export', class: 'btn btn-info' %>
  <%= link_to 'Import', '/bookmarks_import', class: 'btn btn-warning' %>
  <%= render 'components/search', search_path: "/users/#{@user.id}" %>
  <hr>
</div>

<section id="bookmarks">
  <section>
    <%= render 'users/user_stats' %>
  </section>
  <% unless @bookmarks.empty? %>
    <%= form_tag "/dashboard/actions", method: "get" %>
    <%= render :partial => 'bookmarks/bookmark', :collection => @bookmarks %>
    <input type="button" id="check_all" value="Check/Uncheck all" class="btn btn-info"/>
    <button name="commit" value="make_public" type="submit" class="btn btn-info">Make Public</button>
    <button name="commit" value="make_private" type="submit" class="btn btn-info">Make Private</button>
    <button name="commit" value="delete" type="submit" class="btn btn-info">Delete</button>
    <%= text_field_tag 'tag' %>
    <button name="commit" value="add_tag" type="submit" class="btn btn-info">Add Tag</button>
    <%= will_paginate @bookmarks %>
  <% else %>
    <h4>There are no bookmarks to display.</h4>
  <% end %>
</section>

<section id="tags">
  <h3>Tags</h3>
  <%= @tags.take(28).collect{|t| link_to "#{t} (#{t.count})", "/dashboard/tags/#{t.name}"}.join("<br/>").html_safe %>
  <br/>
  <br/>
  <h3><%= link_to 'All tags', '/tags' %></h3>
</section>


