<h2>Log in</h2>

<div id="login-container">
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, input_html: { autocomplete: "email" } %>
    <%= f.password_field :password, input_html: { autocomplete: "current-password" } %>
    <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <%= f.submit 'Log in', class: 'btn btn-primary' %>
  <% end %>
</div>

<%= render "devise/shared/links" %>
